<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Sobre o Estag.io</h1>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-10">

      <!-- Default Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Conectando Talentos e Oportunidades</h6>
        </div>
        <div class="card-body">
          <p>
            O <strong>Estag.io</strong> é uma plataforma web especializada em conectar talentos em
            formação da área de <strong>Tecnologia da Informação</strong> (como alunos de
            Análise e Desenvolvimento de Sistemas, Ciência da Computação e áreas afins) com suas
            primeiras oportunidades no mercado.
          </p>
          <p>
            A aplicação possibilita que empresas de TI cadastrem vagas de estágio e
            nível júnior, especificando as habilidades técnicas desejadas. Por outro lado, os
            estudantes podem criar perfis detalhados, informando suas stacks tecnológicas,
            projetos no GitHub e portfólio.
          </p>
          <p>
            O objetivo do <strong>Estag.io</strong> é ser o ponto de entrada mais eficiente e moderno
            para iniciar uma carreira em TI, facilitando a interação entre estudantes e
            empresas de tecnologia.
          </p>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- /.container-fluid -->
